<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AppName Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
  <div class="appSim">
    <header class="header">
      <div class="header-title">Grocery Saver App Name</div>
      <div>
	<a class="btn btn-sm btn-outline-primary " href="{{ url_for('login') }}">Login</a>
      	<a class="btn btn-sm btn-outline-primary " href="{{ url_for('register') }}">Register</a>
      </div>
    </header>

    <main class="content">
      <h1 class="h5 page-greeting">Placeholder text of some kind</h1>
      <p class="muted-note">This is a placeholder home screen.</p>

      <section class="card card-block">
        
      </section>
    </main>

    <nav class="bottom-nav">
      <div class="bottom-nav-actions">
        <a class="btn btn-outline-primary w-50" href="{{ url_for('show_home') }}">Home</a>
        <a class="btn btn-outline-primary w-50" href="{{ url_for('profile') }}">Profile</a>
        <a class="btn btn-outline-primary w-50" href="{{ url_for('search') }}">search</a>
        <a class="btn btn-outline-primary w-50" href="{{ url_for('upload') }}">upload</a>
      </div>
    </nav>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
